/* .left-profile {
    grid-template-rows: var(--height-banner) 1fr 40px 40px;
} */

.right-profile.public {
    grid-template-rows: var(--height-banner) 1fr 50px;
}

.right-profile.private {
    grid-template-rows: var(--height-banner) 1fr 50px;
}

html {
    --lock-img-width : 60px;
}

.left-profile .add-friend input[type="submit"] {
    width: 40px;
    height: 40px;
    background-image: url(../../img/page/profile/add-friend-black.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.15s;
    border-radius: 50%;
    padding: 1px;
}

.left-profile .add-friend input[type="submit"]:hover {
    padding: 3px;
    background-color: #dfbcae;
    transition: 0.15s;
}

.left-profile .add-friend {
    background-color: rgb(255 249 246);
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0 0 0 10px;
}
.left-profile .input-submit-add-friend-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.left-profile .add-friend p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.right-profile.private .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.right-profile.private .print-user-private {
    height: fit-content;
    width: 410px;
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.right-profile.private .print-user-private .background {
    border-radius: 30px;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.right-profile.private .print-user-private > img {
    height: var(--lock-img-width);
    width: calc(var(--lock-img-width) - 5px);
}

.right-profile.private .print-user-private .private-text-container {
    height: var(--lock-img-width);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    text-align: start;
    color: white;
}

.right-profile.private .print-user-private  .private-text-container > h1 {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.right-profile.private .print-user-private .private-text-container > h2 {
    font-size: 19px;
    font-weight: 400;
}