main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 17px;
    position: absolute;
}

main > div:first-child {
    margin-top: 95px;
}

.title-page-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.title-page-container h1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
}

.nb-notifications {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
    background-color: #b74747bf;
    backdrop-filter: blur(2px);
    border-radius: 50%;
    padding: 5px 10px;
}

.notification-menu-container {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
}

.notification-menu-container nav {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}

.notification-menu-container nav ul {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.notification-menu-container nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.notification-menu-container nav ul li .nb-notifications {
    font-size: 15px;
    background-color: #c56c6cbf;
    padding: 3px 7px;
}

.notification-menu-container nav ul li a {
    color: #7c7c7cbf;
    text-decoration: none;
}

.notification-menu-container nav ul li a.active {
    color: #b74747;
}

.notification-menu-container nav ul li a:hover {
    color: #b74747;
}

.notification-menu-container nav ul li a p {
    font-size: 24px;
    font-weight: 100;
}
.middle-bar {
    width: 100%;
    height: 1.5px;
    background-color: #b7b7b7bf;
}

.notifications-container {
    width: 47%;
    height: 60vh;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 7px;
    border-radius: var(--border-sides);
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
    position: relative;
    z-index: 0;
    overflow-y: scroll;
}

.notifications-container::-webkit-scrollbar {
    display: none;
}

.notifications-container::before {
    content: "";
    border-color: var(--body-background) #dadadaab transparent transparent;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 50px 50px 0px 0px;
    border-radius: 0 0 10px 0;
    height: 0px;
    width: 0px;
    display: block;
}

.notifications-container .notification {
    width: 100%;
    height: 105px;
    display: flex;
    display: grid;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    border-radius: var(--border-sides);
}

.notifications-container .notification .profile-picture-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
}
.notifications-container .notification .profile-picture-container:hover {
    filter: brightness(0.92);
    transition: 0.15s;
}

.notifications-container .notification .profile-picture-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.notifications-container .separator-bar {
    width: 85%;
    height: 1.5px;
    background-color: #b7b7b7bf;
}

.flex-row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

.is-new {
    width: 7px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.is-new .red-point {
    width: 7px;
    height: 7px;
    background-color: #bf2b2b;
    border-radius: 50%;
}

.user-informations a {
    text-decoration: none;
}

.user-informations .username  {
    font-size: 17px;
    font-weight: 600;
    color: #b74747;
}

.user-informations .username:hover {
    text-decoration: underline;
    cursor: pointer;
}