#second-main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.part-container {
    row-gap: 42px;
}

.choose-img-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 78%;
    row-gap: 0;
}

.img-container {
    position: relative;
}

.choose-img-container p {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.choose-img-container p:hover {
    color: #b74747;
    transition: all 0.2s ease-in-out;
}

html {
    --size-blob-img: 100px;
}

.choose-img-container img:not(.privacy-animation-container img) {
    width: var(--size-blob-img);
    height: var(--size-blob-img);
    border-radius: 50%;
    object-fit: cover;
}

textarea {
    width: 235px;
    height: 100px;
    padding: 8px 13px;
    border: none;
    background-color: #f4f4f4;
    border: 3px solid #b5b5b5;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    resize: none;
    transition: 0.5s;
}

textarea:focus {
    border: 3px solid #b747477c;
    transition: 0.5s;
}

.profile-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.lock-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lock-img-container img {
    width: 30px;
    height: 30px;
}

.choose-img-container button[type="submit"] {
    width: fit-content;
    padding: 19px;
    border: none;
    background-color: #b747479b;
    border-radius: 50%;
    outline: none;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 0;
    background-image: url(../../../img/page/account/delete.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.choose-img-container button[type="submit"]:hover {
    background-color: #b747477c;
    background-size: 75%;
    transition: 0.3s;
    filter: invert(0.15);
}

.text-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-container .filename {
    font-weight: 100;
    font-size: 17px;
    color: #484848;
    text-align: center;
}

.privacy-animation-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #dcc3c3b8;
    backdrop-filter: blur(1px);
    width: var(--size-blob-img);
    height: var(--size-blob-img);
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
}

.privacy-animation-container.checked {
    opacity: 1;
    transition: 0.4s;
}

.privacy-animation-container .image-top {
    width: 21px;
    height: fit-content;
}

.privacy-animation-container .image-bottom {
    width: 32px;
    height: fit-content;
}

.description-container, .profile-picture-container, .privacy-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-container {
    height: fit-content;
    align-self: start;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
    width: 52%;
    position: relative;
    margin-left: 40px;
}

.title-container::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 165px;
    height: 3px;
    border-radius: 10px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    transform: translateY(6px);
}

.title-container h2 {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}

.title-container p {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.description-title-container img {
    width: 18px;
    height: fit-content;
}

.pp-title-container img {
    width: 25px;
    height: fit-content;
}

.privacy-title-container img {
    width: 22px;
    height: fit-content;
}

.input-container {
    width: 100%;
}

.privacy-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.privacy-container .title-container h2 {
    font-size: 23px;
}

.privacy-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
}

.privacy-input-container .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

.privacy-input-container .input-container * {
    cursor: pointer;
}

.text-privacy-container {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-privacy-container p {
    font-size: 15px;
    font-weight: 100;
    color: #b74747;
}

.text-privacy-container img {
    width: 20px;
    height: fit-content;
}

.theme-form-container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 25px;
    padding: 15px 0;
    align-items: center;
    z-index: 100;
}

.banner-container .banners {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 25px;
    padding: 15px 0;
    align-items: center;
    scroll-behavior: smooth;
    z-index: 100;
}

.banner-container .button-scroll {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    z-index: 101;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../img/page/account/arrow.png);
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner-container .button-scroll.hidden {
    animation: fadeOut 0.15s forwards ease-in-out;
    cursor: default;
}

.banner-container .button-scroll.display {
    animation: fadeIn 0.15s forwards ease-in-out;
}

.banner-container .button-scroll:hover {
    background-image: url(../../../img/page/account/arrowred.png);
    transition: 0.3s;
}

.banner-container .button-scroll:first-child {
    left: 0;
    transform: rotate(180deg) translateX(15px);
}

.banner-container .button-scroll:last-child {
    right: 0;
    transform: translateX(15px);
}

.banner-container .banners::-webkit-scrollbar {
    display: none;
}

.form-change-banner-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}

.active-theme-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: start;
    justify-content: center;
}

.form-change-banner-container button[type="submit"] {
    width: fit-content;
    padding: 19px;
    border: none;
    background-color: #b7474770;
    border-radius: 50%;
    outline: none;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    cursor: pointer;
    transition: 0.3s;
    background-image: url(../../../img/page/account/delete.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.form-change-banner-container button[type="submit"]:hover {
    background-color: #b747477c;
    background-size: 75%;
    transition: 0.3s;
    filter: invert(0.15);
}

.form-change-banner-container .button-submit-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.choose-img-container-banner input[type="submit"], .profile-form-container > input[type="submit"] {
    padding: 10px 30px;
    padding-left: 50px;
    background-image: url(../../../img/page/account/upload-on-cloud-white.png);
    background-repeat: no-repeat;
    background-position: 23px 50%;
    background-size: 20px;
    font-size: 17px;
    border-radius: 20px;
}