html {
    --width-sides: 50%;
}

.signin-container {
    width: 950px;
    height: 550px;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}


.signin-container .carousel-container {
    background: #d490908d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-sides) 0 0 var(--border-sides);
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
    position: relative;
    z-index: -1;
}

.signin-container .signin-form-container {
    background: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    border-radius: 0 var(--border-sides) var(--border-sides) 0;
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
}

.signin-container .signin-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 15px;
}

.signin-container .carousel-container:before {
    content: "";
    border-color: var(--body-background) #c67f7f8d transparent transparent;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 50px 50px 0px 0px;
    border-radius: 0 0 10px 0;
    height: 0px;
    width: 0px;
    display: block;
}

.signin-form input:not([type="submit"], [type="checkbox"]) {
    width: 200px;
    padding: 5px 15px;
    border: none;
    background-color: #f4f4f4;
    border: 3px solid #b5b5b5;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.signin-form input:not([type="submit"], [type="checkbox"])::placeholder{
    color: #6e6e6e;
    font-size: 15px;
}

.signin-form input:not([type="submit"], [type="checkbox"]):focus{
    border: 3px solid #b747477c;
    transition: 0.5s;
}

.signin-form input[type="submit"]{
    width: 200px;
    padding: 8px 15px;
    border: none;
    background-color: #b74747;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    cursor: pointer;
    transition: 0.3s;
}

.signin-form input[type="submit"]:hover{
    background-color: #b747477c;
    transition: 0.3s;
}

.signin-container .signup-text {
    font-size: 16px;
    color: #6e6e6e;
    text-align: center;
} 

.signin-container .signup-text a {
    color: #b74747;
    text-decoration: none;
}

.signin-container .signup-text a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1.5px;
}

.remember-me {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.remember-me * {
    cursor: pointer;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #b747477c;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: #b74747;
    transition: all 0.3s ease-in-out;
    background-image: url(../../img/signin/checked.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Style du message d'erreur */

.error-message, .success-message {
    width: fit-content;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.error-message img, .success-message img {
    width: 25px;
    height: 25px;
}

.error-message p, .success-message p {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    text-align: justify;
}

.error-message {
    background-color: #d490908d;
}

.success-message {
    background-color: #6dc17083;
}